/* Estilos Gerais */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1px;
}

p,
span {
  font-size: 20px;
}

.comprar {
  text-decoration: none;
  /* border: 1px solid blueviolet; */
  background: #a8f; /* aqua */
  color: #103; /* blue */
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
}
.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}
